<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New-User</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/}" th:object="${user}">
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    <br/>
    <label for="nickname">Enter nickname: </label>
    <input type="text" th:field="*{nickName}" id="nickname"/>
    <div style="color:red" th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}">Nickname Error</div>
    <br/>
    <label>Role:
        <select size="2" multiple name="roles">
            <option name="roles" th:each="role : ${allRoles}" th:value="${role.getId()}" th:text="${role.getRole()}"></option>
        </select>
    </label>
    <br/>
    <br/>
    <input type="submit" value="Create"/>
</form>

</body>
</html>