<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Single-User</title>
</head>
<body>


<p th:text="${'User id: ' + user.getId()}">VALUE<p>
<p th:text="${'User email: ' + user.getEmail()}">VALUE<p>
<p th:text="${'User password: ' + user.getPassword()}">VALUE<p>
<p th:text="${'User nick: ' + user.getNickName()}">VALUE<p>
<p th:text="${'User role: ' + user.getRoles()}">VALUE<p>

    <a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>


<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>

</form>
</body>
</html>

